<div class="p-4 sm:ml-64">
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">
        <!-- dashboard -->
        <div class="grid grid-cols-2 gap-4 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2">
            <ng-container *ngFor="let chart of charts;">
                <div class="bg-white p-4 rounded-lg shadow">
                    <h2 class="text-xl font-semibold mb-4">{{ chart.name }}</h2>
                    <div [attr.id]="chart.identifier" style="width: 100%; height: 400px;"></div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
